@use '../abstracts' as *;

.product {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid var(--color-primary-light);
    @include transition();

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }

    &__media {
        margin-bottom: 8px;
        border-bottom: 1px solid var(--color-primary-light);
        &__picture {
            background: var(--color-muted-dark);
            @include aspect-ratio(1, 1);
        }

        &__image {
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0 12px 12px 12px;
    }

    &__title {
        font-size: rem(18);
        font-weight: 600;
        margin-bottom: 6px;
    }

    &__brand {
        font-size: rem(14);
    }

    &__prices {
        margin-top: auto;
        &__item {
            font-weight: 600;
            &--current {

            }

            &--full {
                font-size: rem(12);
            }
        }
    }


    &:hover {
        border-color: var(--color-accent);
    }
}