*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--color-gray);
}

html {
  line-height: var(--line-height-primary);
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: var(--ff-primary);
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: var(--ff-mono);
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  background: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9CA3AF;
}

button,
[role=button] {
  cursor: pointer;
  text-align: inherit;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

:root {
  --color-gray: #E5E7EB;
  --color-primary: #64748B;
  --color-primary-dark: #16181E;
  --color-primary-light: #CCC;
  --color-accent: #0055CC;
  --color-accent-dark: #0040A1;
  --color-accent-light: #597EB3;
  --color-accent-bright: #f2f8ff;
  --color-muted: #f8f8f8;
  --color-muted-dark: #f1f1f1;
  --container-sm: 800px;
  --container: 1152px;
  --container-lg: 1376px;
  --container-xl: 1600px;
  --radius-sm: 2px;
  --radius: 0;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --ff-primary: Inter, sans-serif;
  --ff-mono: ui-monospace, monospace;
  --gap-col-default: 16px;
  --gap-col-default-lg: 32px;
  --gap-row-default: 32px;
  --gap-row-default-lg: 48px;
  --line-height-primary: 1.66;
  --line-height-headings: 1.35;
  --line-height-titles: 1.1;
  --form-field-height: 44px;
  --form-field-height-lg: 52px;
  --form-field-height-4k: 3.25rem;
  --height-header: 75px;
  --height-header-hamburger: 58px;
}

/**
 * Media query mixin with optional max width.
 *
 * Usage:
 *
 * @include breakpoint(768) -> min-width: 768px
 * @include breakpoint(768, 1024) -> min-width: 768px and max-width: 1024px
 *
 * or
 *
 * @include breakpoint(md) -> min-width: 768px
 * @include breakpoint(md, lg) -> min-width: 768px and max-width: 1024px
 */
/**
 * Media query mixin for max-width.

 * Usage:
 *
 * @include breakpoint-max(768) -> max-width: 768px
 *
 * or
 *
 * @include breakpoint-max(md) -> max-width: 768px
 */
/**
 * Limit text to maximum number of lines.
 */
@media screen and (min-width: 1921px) {
  html {
    font-size: 1.0625rem;
  }
}
@media screen and (min-width: 2560px) {
  html {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 3072px) {
  html {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 3840px) {
  html {
    font-size: 1.4375rem;
  }
}

body {
  overflow-x: hidden;
  font-size: 1rem;
  color: var(--color-primary);
  background-color: #FFF;
  line-height: var(--line-height-primary);
}
body.loading *:not(.offscreen) {
  transition: none !important;
}

p, ul, ol, figure, table, blockquote, iframe, video,
.table-container,
.layout__columns,
.layout__container {
  margin-bottom: 16px;
}
@media screen and (min-width: 1921px) {
  p, ul, ol, figure, table, blockquote, iframe, video,
  .table-container,
  .layout__columns,
  .layout__container {
    margin-bottom: 1rem;
  }
}
p + h1, p + h2, p + .h1, p + .h2, ul + h1, ul + h2, ul + .h1, ul + .h2, ol + h1, ol + h2, ol + .h1, ol + .h2, figure + h1, figure + h2, figure + .h1, figure + .h2, table + h1, table + h2, table + .h1, table + .h2, blockquote + h1, blockquote + h2, blockquote + .h1, blockquote + .h2, iframe + h1, iframe + h2, iframe + .h1, iframe + .h2, video + h1, video + h2, video + .h1, video + .h2,
.table-container + h1,
.table-container + h2,
.table-container + .h1,
.table-container + .h2,
.layout__columns + h1,
.layout__columns + h2,
.layout__columns + .h1,
.layout__columns + .h2,
.layout__container + h1,
.layout__container + h2,
.layout__container + .h1,
.layout__container + .h2 {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  p + h1, p + h2, p + .h1, p + .h2, ul + h1, ul + h2, ul + .h1, ul + .h2, ol + h1, ol + h2, ol + .h1, ol + .h2, figure + h1, figure + h2, figure + .h1, figure + .h2, table + h1, table + h2, table + .h1, table + .h2, blockquote + h1, blockquote + h2, blockquote + .h1, blockquote + .h2, iframe + h1, iframe + h2, iframe + .h1, iframe + .h2, video + h1, video + h2, video + .h1, video + .h2,
  .table-container + h1,
  .table-container + h2,
  .table-container + .h1,
  .table-container + .h2,
  .layout__columns + h1,
  .layout__columns + h2,
  .layout__columns + .h1,
  .layout__columns + .h2,
  .layout__container + h1,
  .layout__container + h2,
  .layout__container + .h1,
  .layout__container + .h2 {
    margin-top: 48px;
  }
}
@media screen and (min-width: 1921px) {
  p + h1, p + h2, p + .h1, p + .h2, ul + h1, ul + h2, ul + .h1, ul + .h2, ol + h1, ol + h2, ol + .h1, ol + .h2, figure + h1, figure + h2, figure + .h1, figure + .h2, table + h1, table + h2, table + .h1, table + .h2, blockquote + h1, blockquote + h2, blockquote + .h1, blockquote + .h2, iframe + h1, iframe + h2, iframe + .h1, iframe + .h2, video + h1, video + h2, video + .h1, video + .h2,
  .table-container + h1,
  .table-container + h2,
  .table-container + .h1,
  .table-container + .h2,
  .layout__columns + h1,
  .layout__columns + h2,
  .layout__columns + .h1,
  .layout__columns + .h2,
  .layout__container + h1,
  .layout__container + h2,
  .layout__container + .h1,
  .layout__container + .h2 {
    margin-top: 3rem;
  }
}
p + h3, p + h4, p + .h3, p + .h4, ul + h3, ul + h4, ul + .h3, ul + .h4, ol + h3, ol + h4, ol + .h3, ol + .h4, figure + h3, figure + h4, figure + .h3, figure + .h4, table + h3, table + h4, table + .h3, table + .h4, blockquote + h3, blockquote + h4, blockquote + .h3, blockquote + .h4, iframe + h3, iframe + h4, iframe + .h3, iframe + .h4, video + h3, video + h4, video + .h3, video + .h4,
.table-container + h3,
.table-container + h4,
.table-container + .h3,
.table-container + .h4,
.layout__columns + h3,
.layout__columns + h4,
.layout__columns + .h3,
.layout__columns + .h4,
.layout__container + h3,
.layout__container + h4,
.layout__container + .h3,
.layout__container + .h4 {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  p + h3, p + h4, p + .h3, p + .h4, ul + h3, ul + h4, ul + .h3, ul + .h4, ol + h3, ol + h4, ol + .h3, ol + .h4, figure + h3, figure + h4, figure + .h3, figure + .h4, table + h3, table + h4, table + .h3, table + .h4, blockquote + h3, blockquote + h4, blockquote + .h3, blockquote + .h4, iframe + h3, iframe + h4, iframe + .h3, iframe + .h4, video + h3, video + h4, video + .h3, video + .h4,
  .table-container + h3,
  .table-container + h4,
  .table-container + .h3,
  .table-container + .h4,
  .layout__columns + h3,
  .layout__columns + h4,
  .layout__columns + .h3,
  .layout__columns + .h4,
  .layout__container + h3,
  .layout__container + h4,
  .layout__container + .h3,
  .layout__container + .h4 {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1921px) {
  p + h3, p + h4, p + .h3, p + .h4, ul + h3, ul + h4, ul + .h3, ul + .h4, ol + h3, ol + h4, ol + .h3, ol + .h4, figure + h3, figure + h4, figure + .h3, figure + .h4, table + h3, table + h4, table + .h3, table + .h4, blockquote + h3, blockquote + h4, blockquote + .h3, blockquote + .h4, iframe + h3, iframe + h4, iframe + .h3, iframe + .h4, video + h3, video + h4, video + .h3, video + .h4,
  .table-container + h3,
  .table-container + h4,
  .table-container + .h3,
  .table-container + .h4,
  .layout__columns + h3,
  .layout__columns + h4,
  .layout__columns + .h3,
  .layout__columns + .h4,
  .layout__container + h3,
  .layout__container + h4,
  .layout__container + .h3,
  .layout__container + .h4 {
    margin-top: 2.5rem;
  }
}
p + h5, p + h6, p + .h5, p + .h6, ul + h5, ul + h6, ul + .h5, ul + .h6, ol + h5, ol + h6, ol + .h5, ol + .h6, figure + h5, figure + h6, figure + .h5, figure + .h6, table + h5, table + h6, table + .h5, table + .h6, blockquote + h5, blockquote + h6, blockquote + .h5, blockquote + .h6, iframe + h5, iframe + h6, iframe + .h5, iframe + .h6, video + h5, video + h6, video + .h5, video + .h6,
.table-container + h5,
.table-container + h6,
.table-container + .h5,
.table-container + .h6,
.layout__columns + h5,
.layout__columns + h6,
.layout__columns + .h5,
.layout__columns + .h6,
.layout__container + h5,
.layout__container + h6,
.layout__container + .h5,
.layout__container + .h6 {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  p + h5, p + h6, p + .h5, p + .h6, ul + h5, ul + h6, ul + .h5, ul + .h6, ol + h5, ol + h6, ol + .h5, ol + .h6, figure + h5, figure + h6, figure + .h5, figure + .h6, table + h5, table + h6, table + .h5, table + .h6, blockquote + h5, blockquote + h6, blockquote + .h5, blockquote + .h6, iframe + h5, iframe + h6, iframe + .h5, iframe + .h6, video + h5, video + h6, video + .h5, video + .h6,
  .table-container + h5,
  .table-container + h6,
  .table-container + .h5,
  .table-container + .h6,
  .layout__columns + h5,
  .layout__columns + h6,
  .layout__columns + .h5,
  .layout__columns + .h6,
  .layout__container + h5,
  .layout__container + h6,
  .layout__container + .h5,
  .layout__container + .h6 {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1921px) {
  p + h5, p + h6, p + .h5, p + .h6, ul + h5, ul + h6, ul + .h5, ul + .h6, ol + h5, ol + h6, ol + .h5, ol + .h6, figure + h5, figure + h6, figure + .h5, figure + .h6, table + h5, table + h6, table + .h5, table + .h6, blockquote + h5, blockquote + h6, blockquote + .h5, blockquote + .h6, iframe + h5, iframe + h6, iframe + .h5, iframe + .h6, video + h5, video + h6, video + .h5, video + .h6,
  .table-container + h5,
  .table-container + h6,
  .table-container + .h5,
  .table-container + .h6,
  .layout__columns + h5,
  .layout__columns + h6,
  .layout__columns + .h5,
  .layout__columns + .h6,
  .layout__container + h5,
  .layout__container + h6,
  .layout__container + .h5,
  .layout__container + .h6 {
    margin-top: 1rem;
  }
}

* > p:last-child, * > ul:last-child, * > ol:last-child, * > figure:last-child, * > table:last-child, * > blockquote:last-child, * > iframe:last-child, * > video:last-child,
* > .table-container:last-child,
* > .layout__columns:last-child,
* > .layout__container:last-child {
  margin-bottom: 0;
}

figure {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  color: var(--color-primary-dark);
  margin-bottom: 0.42em;
}

h1, h2,
.h1, .h2 {
  line-height: var(--line-height-titles);
}

h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
  line-height: var(--line-height-headings);
}

h1, .h1 {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  h1, .h1 {
    font-size: 3.5rem;
  }
}

h2, .h2 {
  font-size: 1.75rem;
}
@media screen and (min-width: 768px) {
  h2, .h2 {
    font-size: 3rem;
  }
}

h3, .h3 {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  h3, .h3 {
    font-size: 2rem;
  }
}

h4, .h4 {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  h5, .h5 {
    font-size: 1.25rem;
  }
}

.mb-xl {
  margin-bottom: 0.84em;
}

a, button {
  transition: 0.2s ease;
  color: var(--color-accent);
  background-color: inherit;
}
a:hover, button:hover {
  color: var(--color-accent-dark);
}

.lead {
  margin-bottom: 24px;
  font-size: 1.125rem;
}
@media screen and (min-width: 576px) {
  .lead {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .lead {
    font-size: 1.5rem;
  }
}

small, .small {
  font-size: 0.875rem;
}

.alert {
  padding: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  color: var(--color-black);
  background: var(--color-muted);
  border-radius: var(--radius);
}
@media screen and (min-width: 768px) {
  .alert {
    padding: 32px;
  }
}
@media screen and (min-width: 1921px) {
  .alert {
    padding: 2rem;
  }
}
.alert--danger {
  background: var(--color-red);
  color: #FFFFFF;
}
.alert--danger *:not([class*=button]) {
  color: #FFFFFF;
}
.alert--exposed {
  background: var(--color-accent);
  color: #FFFFFF;
}
.alert--exposed *:not([class*=button]) {
  color: #FFFFFF;
}
.alert > *:last-child {
  margin-bottom: 0;
}

blockquote, .blockquote {
  padding: 24px 40px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.25rem;
  font-style: italic;
  border-left: 4px solid var(--color-accent);
}
@media screen and (min-width: 1921px) {
  blockquote, .blockquote {
    padding: 1.5rem 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

pre {
  white-space: pre-wrap;
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border-color: 1px solid var(--color-primary-bright);
  width: 100%;
}
@media screen and (min-width: 768px) {
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1921px) {
  hr {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

ul, ol {
  margin-left: 18px;
  list-style-position: outside;
}
@media screen and (min-width: 1921px) {
  ul, ol {
    margin-left: 1.125rem;
  }
}
ul:not([class]) li, ol:not([class]) li {
  margin-bottom: 8px;
}
@media screen and (min-width: 1921px) {
  ul:not([class]) li, ol:not([class]) li {
    margin-bottom: 0.5rem;
  }
}
ul:not([class]) li:last-child, ol:not([class]) li:last-child {
  margin-bottom: 0;
}
ul:not([class]) li li, ol:not([class]) li li {
  margin-bottom: 4px;
}
@media screen and (min-width: 1921px) {
  ul:not([class]) li li, ol:not([class]) li li {
    margin-bottom: 0.25rem;
  }
}
ul:not([class]) li li:last-child, ol:not([class]) li li:last-child {
  margin-bottom: 0;
}
ul ul, ul ol, ol ul, ol ol {
  margin-left: 24px;
}
@media screen and (min-width: 1921px) {
  ul ul, ul ol, ol ul, ol ol {
    margin-left: 1.5rem;
  }
}

ul {
  margin-top: 12px;
  margin-bottom: 12px;
  list-style-type: disc;
}
@media screen and (min-width: 1921px) {
  ul {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}
ul:not([style]):not([class]) {
  list-style-type: none;
  margin-left: 0;
  list-style-position: inside;
}
ul:not([style]):not([class]) li {
  position: relative;
  padding-left: 24px;
}
@media screen and (min-width: 1921px) {
  ul:not([style]):not([class]) li {
    padding-left: 1.5rem;
  }
}
ul:not([style]):not([class]) li::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 2px;
  margin-top: 0.7em;
  background: var(--color-accent);
  content: "";
}
@media screen and (min-width: 1921px) {
  ul:not([style]):not([class]) li::before {
    width: 0.5rem;
    height: 0.125rem;
  }
}
ul:not([style]):not([class]) ul, ul:not([style]):not([class]) ol {
  margin-left: 0;
}

ol {
  margin-top: 12px;
  margin-bottom: 12px;
  list-style-type: decimal;
}
@media screen and (min-width: 1921px) {
  ol {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}
ol[style*=lower-alpha] {
  margin-left: 20px;
}
@media screen and (min-width: 1921px) {
  ol[style*=lower-alpha] {
    margin-left: 1.25rem;
  }
}

table, .table {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
  table-layout: auto;
  min-width: 100%;
}
@media screen and (min-width: 1921px) {
  table, .table {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
table tr th,
table tr td, .table tr th,
.table tr td {
  padding: 12px 16px;
  color: var(--color-primary-dark);
  font-weight: 500;
  border-bottom: 1px solid var(--color-muted-dark);
  background: #FFFFFF;
}
@media screen and (min-width: 768px) {
  table tr th,
  table tr td, .table tr th,
  .table tr td {
    font-size: 0.875rem;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1921px) {
  table tr th,
  table tr td, .table tr th,
  .table tr td {
    font-size: 1rem;
    padding: 0.75rem 1rem;
  }
}
table thead th, .table thead th {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-primary-light);
  border-color: var(--color-muted);
  white-space: nowrap;
}
@media screen and (min-width: 1921px) {
  table thead th, .table thead th {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
table tbody tr:nth-child(even) td, .table tbody tr:nth-child(even) td {
  background: var(--color-muted);
}
table tbody td, .table tbody td {
  border-bottom-width: 1px;
}
table tfoot, .table tfoot {
  text-align: left;
}
table tfoot tr:last-child th, table tfoot tr:last-child td, .table tfoot tr:last-child th, .table tfoot tr:last-child td {
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.table--default tbody tr:nth-child(even) td {
  background: #FFFFFF;
}
.table--default tr th:first-child,
.table--default tr td:first-child {
  padding-left: 0;
}
.table--default tr th:last-child,
.table--default tr td:last-child {
  padding-right: 0;
}
.table--bordered {
  margin-left: 0;
  margin-right: 0;
}
.table--bordered thead th {
  border-color: var(--color-primary-bright);
}
.table--bordered tr th,
.table--bordered tr td {
  border-width: 1px;
  border-color: var(--color-primary-bright);
}
.table--bordered tr th:first-child,
.table--bordered tr td:first-child {
  border-color: var(--color-primary-bright);
}
.table--sticky tr th:first-child,
.table--sticky tr td:first-child {
  position: sticky;
  left: 0;
}
@media screen and (min-width: 768px) {
  .table--sticky tr th:first-child,
  .table--sticky tr td:first-child {
    position: static;
  }
}
.table--sticky tr th:first-child:after,
.table--sticky tr td:first-child:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: var(--color-muted-dark);
  content: "";
}
@media screen and (min-width: 768px) {
  .table--sticky tr th:first-child:after,
  .table--sticky tr td:first-child:after {
    display: none;
  }
}
.table__cell--exposed {
  background: var(--color-primary-bright) !important;
}

.table-container {
  overflow-x: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  min-width: 100%;
}
@media screen and (min-width: 1921px) {
  .table-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.table-container table {
  margin-top: 0;
  margin-bottom: 0;
}

time {
  margin-top: 12px;
  font-size: 0.875rem;
  color: var(--color-primary-bright);
}
@media screen and (min-width: 768px) {
  time {
    color: var(--color-primary-bright);
  }
}
@media screen and (min-width: 1921px) {
  time {
    margin-top: 0.75rem;
  }
}

mark {
  background: rgba(var(--color-accent), 0.2);
}

fieldset {
  padding: 12px 16px;
  border: 1px solid var(--color-muted);
  margin-top: 48px;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  fieldset {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 1921px) {
  fieldset {
    padding: 0.75rem 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
fieldset legend {
  margin-left: -8px;
  margin-right: -8px;
  padding-left: 8px;
  padding-right: 8px;
  background: #FFFFFF;
}
@media screen and (min-width: 1921px) {
  fieldset legend {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

video {
  max-width: 100%;
  border-radius: var(--radius);
}

iframe:not(.instagram-media) {
  max-width: 100%;
  height: auto;
}

.iframe--fslightbox {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
}

.iframe-container {
  position: relative !important;
  padding-bottom: calc(9 / 16 * 100%) !important;
}
.iframe-container > * {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}
.iframe-container--fslightbox {
  width: 1280px;
  max-width: 90vw;
}
@media screen and (max-width: 767px) {
  .iframe-container--fslightbox {
    max-width: 100%;
  }
}
@media screen and (min-width: 1921px) {
  .iframe-container--fslightbox {
    width: 80%;
  }
}
.iframe-container > iframe:not(.instagram-media) {
  height: 100%;
}

.fr-video {
  display: block;
  position: relative;
  padding-bottom: calc(9 / 16 * 100%);
}
.fr-video > * {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fr-fic {
  margin-bottom: 16px;
}
@media screen and (min-width: 1921px) {
  .fr-fic {
    margin-bottom: 1rem;
  }
}
.fr-fic.fr-fil {
  float: left;
  margin-right: 16px;
}
@media screen and (min-width: 1921px) {
  .fr-fic.fr-fil {
    margin-right: 1rem;
  }
}
.fr-fic.fr-fir {
  float: right;
  margin-left: 16px;
}
@media screen and (min-width: 1921px) {
  .fr-fic.fr-fir {
    margin-left: 1rem;
  }
}

.fr-dii {
  display: inline;
}

.fr-img-caption img {
  width: 100%;
}
.fr-img-caption .fr-inner {
  display: block;
  position: relative;
  margin-top: 12px;
  width: 100%;
  font-size: 0.875rem;
}
@media screen and (min-width: 1921px) {
  .fr-img-caption .fr-inner {
    margin-top: 0.75rem;
  }
}
.fr-img-caption .fr-inner:after {
  position: absolute;
  display: block;
  height: 1px;
  margin-top: 12px;
  width: 100%;
  background: var(--color-primary-bright);
  content: "";
}
@media screen and (min-width: 1921px) {
  .fr-img-caption .fr-inner:after {
    margin-top: 0.75rem;
  }
}

.image--exposed {
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .image--exposed {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1921px) {
  .image--exposed {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.image--exposed .fr-img-wrap,
.image--exposed .fr-inner {
  display: block;
}

.content__thumbnail {
  display: inline-block;
}

.image--thumbnail {
  object-fit: cover;
  width: 128px;
  height: 128px;
  border-width: 2px;
  border-color: var(--color-primary-bright);
}
@media screen and (min-width: 1921px) {
  .image--thumbnail {
    width: 144px;
    height: 144px;
  }
}
@media screen and (min-width: 3840px) {
  .image--thumbnail {
    width: 164px;
    height: 164px;
  }
}

.image--full {
  width: 100% !important;
  height: auto !important;
}

picture {
  display: block;
}

img[src*="data:image/svg+xml"]:not(.w-initial) {
  width: 100%;
}

figcaption {
  margin-top: 8px;
  color: var(--color-primary);
}
@media screen and (min-width: 1921px) {
  figcaption {
    margin-top: 0.5rem;
  }
}

:root {
  --maxViewportWidth: 3840px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.header {
  position: sticky;
  top: 0;
  background: #1a1a1a;
  height: var(--height-header);
  z-index: 99;
}
@media screen and (max-width: 1023px) {
  .header {
    height: var(--height-header-hamburger);
  }
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .header__left {
    flex-grow: 1;
  }
}
.header__left__logo {
  display: inline-block;
  background-image: url("../../../assets/images/favicon.png");
  background-repeat: no-repeat;
  background-size: 38px;
  background-position: left center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #CCC;
  padding: 12px 12px 12px 42px;
}
.header__left__logo:hover {
  color: #FFF;
}
.header__left__hamburger {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media screen and (min-width: 1024px) {
  .header__left__hamburger {
    display: none;
  }
}
.header__left__hamburger .icon-bar {
  display: inline-block;
  background: #FFF;
  width: 22px;
  height: 2px;
  -webkit-transition-property: color, background, border-color, fill, stroke, opacity, box-shadow, transform, filter;
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background, border-color, fill, stroke, opacity, box-shadow, transform, filter;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__left__hamburger.active .icon-bar:nth-child(2) {
  opacity: 0;
  transform: translateX(-8px);
}
.header__left__hamburger.active .icon-bar:first-child {
  transform: translateY(8px) rotate(45deg);
}
.header__left__hamburger.active .icon-bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
}
@media screen and (max-width: 1023px) {
  .header__right {
    background: var(--color-muted-dark);
    position: fixed;
    top: var(--height-header-hamburger);
    left: 0;
    width: 100%;
    height: calc(100% - var(--height-header-hamburger));
    pointer-events: none;
    transform: translateX(100%);
    z-index: 100;
    -webkit-transition-property: color, background, border-color, fill, stroke, opacity, box-shadow, transform, filter;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background, border-color, fill, stroke, opacity, box-shadow, transform, filter;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__right.active {
    pointer-events: auto;
    transform: none;
  }
}
.header__right .menu {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .header__right .menu {
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  .header__right .menu__item {
    margin-left: 24px;
  }
}
.header__right .menu__item:first-child {
  margin-left: 0;
}
.header__right .menu__item.active .menu__link {
  color: #FFF;
}
.header__right .menu__link {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--color-primary-dark);
}
@media screen and (min-width: 1024px) {
  .header__right .menu__link {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--color-primary-light);
  }
}
.header__right .menu__link:hover {
  color: #FFF;
}

.main {
  margin-top: 24px;
}

.footer {
  margin-bottom: 32px;
}

.button, .button--primary, .button--secondary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-align: center;
  font-weight: 700;
  color: #FFFFFF;
  background: var(--color-accent);
  border-color: var(--color-accent);
  border-width: 2px;
  outline: none;
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.025em;
  border-radius: var(--radius);
  -webkit-transition-property: color, background, border-color, fill, stroke, opacity, box-shadow, transform, filter;
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background, border-color, fill, stroke, opacity, box-shadow, transform, filter;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus, .button:focus-visible, .button--primary:hover, .button--primary:focus, .button--primary:focus-visible, .button--secondary:hover, .button--secondary:focus, .button--secondary:focus-visible {
  color: #FFFFFF;
  background: var(--color-accent-dark);
  border-color: var(--color-accent-dark);
}
.button:active, .button--primary:active, .button--secondary:active {
  background: var(--color-accent);
}
.button--secondary {
  color: var(--color-accent);
  background: #FFFFFF;
  border-color: var(--color-accent);
}
.button--secondary:focus, .button--secondary:hover {
  color: var(--color-accent-dark);
  background: var(--color-muted);
  border-color: var(--color-accent-dark);
}
.button--secondary:active {
  background: #FFFFFF;
}
.button--disabled, .button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.full-width {
  margin-left: -50vw;
  left: 50%;
  position: relative;
  width: 100vw;
}
@media screen and (min-width: 3840px) {
  .full-width {
    width: var(--maxViewportWidth);
    margin-left: calc(var(--maxViewportWidth) / 2 * -1);
    max-width: var(--maxViewportWidth);
  }
}
.full-width--bg {
  background: var(--color-muted);
  margin-top: 0;
  padding-top: 32px;
}
@media screen and (min-width: 1024px) {
  .full-width--bg {
    padding-top: 64px;
  }
}
@media screen and (min-width: 1921px) {
  .full-width--bg {
    padding-top: 3.2%;
  }
}
@media screen and (min-width: 3840px) {
  .full-width--bg {
    width: var(--maxViewportWidth);
    margin-left: calc(var(--maxViewportWidth) / 2 * -1);
  }
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container);
}
@media screen and (min-width: 1921px) {
  .container {
    max-width: 60vw;
  }
}
@media screen and (min-width: 3840px) {
  .container {
    max-width: calc(0.6 * var(--maxViewportWidth));
  }
}
.container--lg {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-lg);
}
@media screen and (min-width: 1921px) {
  .container--lg {
    max-width: 72vw;
  }
}
@media screen and (min-width: 3840px) {
  .container--lg {
    max-width: calc(0.72 * var(--maxViewportWidth));
  }
}
.container--xl {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-xl);
}
@media screen and (min-width: 1921px) {
  .container--xl {
    max-width: 83vw;
  }
}
@media screen and (min-width: 3840px) {
  .container--xl {
    max-width: calc(0.83 * var(--maxViewportWidth));
  }
}
.container--sm {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-sm);
}

.columns {
  display: flex;
  flex-wrap: wrap;
  --gap-col: var(--gap-col-default);
  --gap-row: var(--gap-row-default);
  row-gap: var(--gap-row);
  margin-left: calc(var(--gap-col) * -1);
}
@media screen and (min-width: 768px) {
  .columns {
    --gap-col: var(--gap-col-default-lg);
    --gap-row: var(--gap-row-default-lg);
  }
}
.columns--center {
  justify-content: center;
}

.column {
  margin-left: var(--gap-col);
  width: calc(100% - var(--gap-col));
}
@media screen and (min-width: 768px) {
  .column--25 {
    width: calc(25% - var(--gap-col));
  }
  .column--33 {
    width: calc(33.33% - var(--gap-col));
  }
  .column--50 {
    width: calc(50% - var(--gap-col));
  }
  .column--66 {
    width: calc(66.66% - var(--gap-col));
  }
  .column--75 {
    width: calc(75% - var(--gap-col));
  }
  .column--100 {
    width: calc(100% - var(--gap-col));
  }
}
@media screen and (min-width: 1024px) {
  .column--lg--25 {
    width: calc(25% - var(--gap-col));
  }
  .column--lg--33 {
    width: calc(33.33% - var(--gap-col));
  }
  .column--lg--50 {
    width: calc(50% - var(--gap-col));
  }
  .column--lg--66 {
    width: calc(66.66% - var(--gap-col));
  }
  .column--lg--75 {
    width: calc(75% - var(--gap-col));
  }
  .column--lg--100 {
    width: calc(100% - var(--gap-col));
  }
}

input,
select,
textarea {
  display: block;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  height: var(--form-field-height);
  font-size: 1rem;
  font-weight: 500;
  line-height: var(--line-height-headings);
  border-radius: var(--radius);
  appearance: none;
  outline: none;
  background: var(--color-muted);
  border-width: 1px;
  border-color: var(--color-accent);
  color: var(--color-primary);
  -webkit-transition-property: color, background, border-color, fill, stroke, opacity, box-shadow, transform, filter;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: ease-in;
  transition-property: color, background, border-color, fill, stroke, opacity, box-shadow, transform, filter;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}
@media screen and (min-width: 768px) {
  input,
  select,
  textarea {
    padding-left: 24px;
    padding-right: 24px;
    height: var(--form-field-height-lg);
  }
}
@media screen and (min-width: 1921px) {
  input,
  select,
  textarea {
    height: var(--form-field-height-4k);
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
input:focus,
select:focus,
textarea:focus {
  border-color: var(--color-accent);
  border-width: 2px;
}
input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
  box-shadow: 0 0 0 100px var(--color-muted) inset;
}
@media screen and (min-width: 1921px) {
  input:-webkit-autofill,
  select:-webkit-autofill,
  textarea:-webkit-autofill {
    box-shadow: 0 0 0 6rem var(--color-muted) inset;
  }
}

input::placeholder,
textarea::placeholder {
  color: var(--color-primary);
  font-weight: 500;
  opacity: 0.5;
}

textarea {
  min-height: 200px;
  width: 100%;
  min-width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  textarea {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1921px) {
  textarea {
    min-height: 12.5rem;
    padding: 1rem 1.25rem;
  }
}

select {
  cursor: pointer;
}

label {
  font-weight: 600;
}
label:hover {
  cursor: pointer;
}

input[type=radio],
input[type=checkbox] {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  border-width: 0;
  border-radius: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  input[type=radio],
  input[type=checkbox] {
    margin-right: 16px;
  }
}
@media screen and (min-width: 1921px) {
  input[type=radio],
  input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
  }
}
input[type=radio]:after,
input[type=checkbox]:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: var(--color-accent);
  content: "";
  border-radius: var(--radius);
  background: var(--color-muted);
  -webkit-transition-property: color, background, border-color, fill, stroke, opacity, box-shadow, transform, filter;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background, border-color, fill, stroke, opacity, box-shadow, transform, filter;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
input[type=radio]:before,
input[type=checkbox]:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 16px;
  margin-top: -2px;
  border-width: 3px;
  border-color: transparent;
  border-top-width: 0;
  border-left-width: 0;
  content: "";
  z-index: 10;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1921px) {
  input[type=radio]:before,
  input[type=checkbox]:before {
    width: 0.5rem;
    height: 1rem;
    border-width: 4px;
    border-top-width: 0;
    border-left-width: 0;
    margin-top: -0.125rem;
  }
}
input[type=radio]:focus:after, input[type=radio]:hover:after,
input[type=checkbox]:focus:after,
input[type=checkbox]:hover:after {
  border-color: var(--color-accent-dark);
}
input[type=radio]:checked:before,
input[type=checkbox]:checked:before {
  border-color: #FFFFFF;
}
input[type=radio]:checked:after,
input[type=checkbox]:checked:after {
  background: var(--color-accent);
}

input[type=radio] {
  border-radius: 50%;
}
input[type=radio]:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 0;
  border-width: 0;
  background: transparent;
}
@media screen and (min-width: 1921px) {
  input[type=radio]:before {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border-width: 0;
  }
}
input[type=radio]:after {
  border-radius: 50%;
}
input[type=radio]:checked:before {
  background: #FFFFFF;
}

.badge {
  display: inline-flex;
  font-size: 0.875rem;
  padding: 8px 12px;
  background: var(--color-accent);
  color: #FFF;
  font-weight: 700;
}

.product-list__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
}
.product-list__filters .form__item {
  width: calc(50% - 13px);
}
@media screen and (min-width: 576px) {
  .product-list__filters .form__item {
    width: calc(20% - 13px);
  }
}
.product-list__filters .form__item:last-child {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .product-list__filters .form__item:last-child {
    width: calc(20% - 13px);
  }
}
.product-list__products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 32px 16px;
}
@media screen and (min-width: 576px) {
  .product-list__products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 640px) {
  .product-list__products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .product-list__products {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
  }
}
.product-list__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  min-height: 200px;
  font-size: 1.75rem;
  color: var(--color-primary-dark);
  background: var(--color-accent-bright);
  grid-column: 1/5;
}
@media screen and (min-width: 576px) {
  .product-list__empty {
    padding: 80px;
  }
}
.product-list__pagination {
  margin-top: 32px;
}
.product-list__pagination .pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style-type: none;
}
.product-list__pagination .pagination li * {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 36px;
  height: 36px;
  font-size: 1.125rem;
  background: #FFF;
  border: 1px solid var(--color-accent);
}
.product-list__pagination .pagination li a:hover {
  background: var(--color-accent);
  color: #FFF;
}
.product-list__pagination .pagination li.active * {
  background: var(--color-accent);
  color: #FFF;
}

.product {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid var(--color-primary-light);
  -webkit-transition-property: color, background, border-color, fill, stroke, opacity, box-shadow, transform, filter;
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background, border-color, fill, stroke, opacity, box-shadow, transform, filter;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.product__media {
  margin-bottom: 8px;
}
.product__media__picture {
  background: var(--color-muted-dark);
  position: relative;
  padding-bottom: calc(1 / 1 * 100%);
}
.product__media__picture > * {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.product__media__image {
  object-fit: cover;
}
.product__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 12px 12px 12px;
}
.product__title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 6px;
}
.product__brand {
  font-size: 0.875rem;
}
.product__prices {
  margin-top: auto;
}
.product__prices__item {
  font-weight: 600;
}
.product__prices__item--full {
  font-size: 0.75rem;
}
.product:hover {
  border-color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .product-single__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.product-single__media {
  position: relative;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .product-single__media {
    margin-bottom: 0;
  }
}
.product-single__media__picture {
  background: var(--color-muted-dark);
  position: relative;
  padding-bottom: calc(1 / 1 * 100%);
}
.product-single__media__picture > * {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.product-single__media__image {
  object-fit: cover;
}
.product-single__media .badge {
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .product-single__content {
    padding-left: 42px;
  }
}
.product-single__checkout {
  margin-top: 24px;
  padding: 16px 32px;
  background: var(--color-muted);
}
.product-single__checkout__buy {
  display: flex;
}
.product-single__checkout__buy input {
  height: auto;
  width: 82px;
  padding: 0 12px;
  text-align: center;
}
.product-single__variants__item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.product-single__prices__item {
  display: none;
}
.product-single__prices__item.active {
  display: block;
}
.product-single__prices__item--current {
  font-size: 1.75rem;
  font-weight: 700;
}
.product-single__prices__item--full {
  font-weight: 400;
}
.product-single__attributes, .product-single__categories {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .product-single__attributes, .product-single__categories {
    margin-top: 64px;
  }
}

.basket-offscreen {
  background: aqua;
  position: fixed;
  top: var(--height-header);
  left: 0;
  width: 500px;
}

/*# sourceMappingURL=custom.css.map */
